@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl md:text-6xl text-white;
  }
  h2 {
    @apply text-2xl md:text-4xl
  }
  h3 {
    @apply text-lg md:text-2xl
  }
  h4 {
    @apply text-lg text-white;
  }
  p {
    @apply text-[#e9e9e9]
  }
  .serve-button {
    @apply bg-[#8c52ff] text-white px-3 py-2  hover:bg-[#511dee] active:scale-[.98]
  }
}

@layer base {

}

.slick-dots li.slick-active button:before {
  color:White !important;
}

.slick-dots li button:before {
  color:White !important;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

#blob {
  height: 250px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: rgb(140,82,255);
  background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(251,93,0,1) 100%);
  animation: rotate 20s infinite;
  filter: blur(100px);
  z-index: 0;
}

@keyframes background-pan {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: -200% center;
  }

  100% {
    background-position: -200% center;
  }
}

.magic {
  background: radial-gradient(circle, rgba(251,93,0,1) 0%, rgba(140,82,255,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: background-pan 15s linear infinite;
  background-size: 200%;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(200px);
}

.serve-card {
  position: relative;
  
}

.serve-card:after, .serve-card:before {
  background: linear-gradient(180deg, rgba(251,93,0,0) 0%, rgba(251,93,0,1) 50%, rgba(251,93,0,0) 100%);
  height: 100px;
  width: 1px;
  position: absolute;
  content: "";
  transition: top 600ms ease;
}

.serve-card:after {
  left: 0px;
  top: 15%;
}

.serve-card:before {
  right: 0px;
  top: 75%;
}

.serve-card:hover:after {
  top: 75%;
}

.serve-card:hover:before {
  top: 15%;
}

html {
  scroll-behavior: smooth !important;
}

a, button, div {
  -webkit-tap-highlight-color: transparent;
}

.highlight {
  color: #fb5d00;
}

ul {
  list-style-type: disc;
}

body {
  height: 100vh;
  background-image: url("../../public/bg3.png");
  background-size: cover;
  background-color: black;
  background-repeat: repeat-y;
}

#webProjects, #brandingProjects {
  background-image: url("../../public/bg3.png");
  background-size: cover;
  background-color: black;
  background-repeat: repeat-y;
}