@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl text-white;
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-lg
  }
  p {
    @apply text-white
  }
}

@layer base {

}

html {
  scroll-behavior: smooth !important;
}

a, button, div {
  -webkit-tap-highlight-color: transparent;
}


.navItems {
  color: white;
}

.navList {
  list-style-type: none;
}

.highlight {
  color: #fb5d00;
}

ul {
  list-style-type: disc;
}

body {
  height: 100vh;
  background-image: url("../../public/bg3.png");
  background-size: cover;
  background-color: black;
  background-repeat: repeat-y;
}

.carouselActive {
  visibility: visible;
  opacity: 1;
}

.carouselNext {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.carouselPrev {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.carouselHidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    background: rgb(150,107,203);
    background: radial-gradient(circle, rgba(150,107,203,1) 0%, rgba(49,0,147,1) 100%);
  }
}
